@import "tailwindcss";

:root {
  --gold: #C9A84C;
  --gold-light: #E8C97A;
  --black: #0A0A0A;
  --white: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}